
<div class="success">
  <img src="static/img/greentick.png">
  <h1> Congratulations!</h1>
  <h2> Your file has been uploaded successfully.</h2>
  </br>

  <h4>Not registered yet? <a href="/register">Click Here</a></h4>

  <h4>Login into your account: <a href="/login">Click Here</a></h4> </br>

  <h4>Upload another file? </h4> <button type="submit" class="btn btn-primary"><a href="/index">Click Here</a></button>


<style>

  body{

    background-image: url('https://img.freepik.com/free-photo/abstract-blur-empty-green-gradient-studio-well-use-as-background-website-template-frame-business-report_1258-52616.jpg?w=740&t=st=1690562186~exp=1690562786~hmac=1d6f18450bc2f9c163fb65f202f9afafc772b0a68ec3982f866cfbd1922deb7a');
    
  }

  img {
    height: 180px;
    width: 180px;
  }
  .success{
    align-items: center;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;  
  }
  .back{
    border:none;
    background-color: #a9a7a7;
    border-radius:10px; 
    padding:10px;
  }
  .back:hover {
        background-color:lightblue;
    }
  .back a{ 
    text-decoration: none;
    color: black;
  }
</style>



